.cart-no{
    position: absolute;
    background-color: blue;
    color: white;
    top: -12px;
    right: 32px;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size:1em ;
    text-align: center;
}

a{
    text-decoration: none;
    color: #3a3c3d;

    &.active{
        color: rgb(15, 192, 15);
    }
}

.logo{
    cursor: pointer;

    &:focus{
        outline: none;
    }
}